@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Muli:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*{
    font-family: 'Noto Sans', sans-serif;
}

h1{
    font-size: 2rem;
    font-weight: bolder;
}
p{
    font-size: 1.2rem;
}

body{
    min-width: 360px;
    height: fit-content;
    padding: 2rem;
}
[hidden]{
    display: none !important;
}
.button-section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.button-container{
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__button{
        cursor: pointer;
        padding: .5rem 2rem;
        min-width: 200px;
        background: #ffcc36;
        border: none;
        border-radius: 2px;
        color: #000000;
        position: relative;
        height: auto;
        min-height: 36px;
        margin: 0;
        display: inline-block;
        font-family: "Noto Sans", sans-serif;
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
        line-height: 1;
        letter-spacing: 0;
        font-weight: bold;
        overflow: hidden;
        will-change: box-shadow;
        transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
        outline: none;
        text-decoration: none;
        text-align: center;
        line-height: 36px;
        vertical-align: middle;
        &:hover, &:active{
            background-color: #ffe69b;
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        }
        &[disabled]{
            color: rgba(0, 0, 0, 0.26);
            cursor: default;
            background-color: transparent;
            background-color: rgba(0, 0, 0, 0.12);
            color: rgba(0, 0, 0, 0.26);
            &:hover, &:active{
                box-shadow: none;
            }
        }
    }
    &__text{
        font-size: 1.2rem;
        font-weight: bold;
    }
    &__count{
        font-size: 1rem;
    }
}

select{
    cursor: pointer;
    border: 1px solid #000;
    border-radius: 0.25em;
    background-color: #fff;
    display: block;
    font-size: 16px;
    font-family: "Noto Sans", sans-serif;
    margin: 0;
    width: 100%;
    text-align: left;
    color: inherit;
    padding: 0.6em 1em;
}
.lang-select-section{
    display: flex;
    justify-content: center;
}
.lang-select{
    margin: 1rem 0;
}
.lang-select-list{
    background: #ffcc36;
    color: #000000;
    width: fit-content;
    border: 0;
    border-radius: 2px;
    font-weight: bold;
    font-size: 1.2rem;
    appearance: none;
    padding: 1rem 2rem;
    text-align: center;
    &:hover, &:active{
        background-color: #ffe69b;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    }
    &[disabled]{
        color: rgba(0, 0, 0, 0.26);
        cursor: default;
        background-color: transparent;
        background-color: rgba(0, 0, 0, 0.12);
        color: rgba(0, 0, 0, 0.26);
        &:hover, &:active{
            box-shadow: none;
        }
    }
}